input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10%;
}

.signupFormWrap{
  text-align: center;
  background-color: #CCF57D;
  border-radius: 6px;
  width: 40%; /*Make this wider in mobile code*/
  margin-left:60%;
  padding-bottom: 40%;
}
.titleBar{
  padding: 1em;
  background-color:#60B03D;
  color: white;
  text-align: center;
  margin-bottom: .5em;
}
