/*css for sign-up form*/
input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10%;
}
.signupFormWrap{
  margin-left: 35%;
  text-align: center;
  background-color: #CCF57D;
  border-radius: 6px;
  width: 60%; /*Make this wider in mobile code*/
  padding-bottom: 5%;
}
.signupForm h2{
  background-color: #26610F;
  padding: 10px;
  color: white;
}
input[type=submit] {
  width: 50%;
  background-color: #26610F;
  color: white;
  padding: 14px 20px;
  margin: 2% 0;
}

/*page layout css; two sections, equally sized*/
.page{
  width: 100%;
  height: 100%;
  display: block;
}
.pageLeft{
  float: left;
  width: 50%;
}
.pageRight{
  float: right;
  width: 50%;
}
/*css for page header*/
.titleBar{
  padding: 1em;
  background-color:#60B03D;
  color: white;
  text-align: center;
  margin-bottom: .5em;
}
.fanMonth{
  margin-left: 35%;
  text-align: center;
  background-color: #CCF57D;
  border-radius: 6px;
  width: 60%; /*Make this wider in mobile code*/
  padding-bottom: 5%;
}
.fanMonth h2{
  background-color: #614a0f;
  color: white;
  padding: 10px;
}
@media screen and (max-width: 550px){/*CSS focused on smartphones*/
	img{
	  max-width: 100%;
	  height: auto;
	}
	.pageLeft{
	  width: 100%;
	}
	.pageRight{
	  width: 100%;
	}
	.signupFormWrap{
	  width: 100%;
	  margin-left: 0%;
	}
	.fanMonth{
	  width: 100%;
	  margin-left: 0%;
	}
}
